In [78]:
# Add the Pandas dependency.
import pandas as pd
import plotly.express as px
import hvplot.pandas
from sklearn.cluster import KMeans

In [79]:
# Files to load
student_data_to_load = "Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age__Provisional_2020-2022.csv"
# Read the file and store it in a Pandas DataFrame.
df = pd.read_csv(student_data_to_load)
df.head()

,Data As Of,Start Date,End Date,Group,Year,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
0,10/16/2022,01/01/2020,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,1430.0,1495.0,NaN
1,10/16/2022,01/01/2020,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,5647.0,5860.0,NaN
2,10/16/2022,01/01/2020,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,14738.0,15345.0,NaN
3,10/16/2022,01/01/2020,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,36674.0,38105.0,NaN
4,10/16/2022,01/01/2020,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,80438.0,83347.0,NaN

In [80]:
df.drop(["Data As Of"], inplace=True, axis=1)
df.head()

,Start Date,End Date,Group,Year,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
0,01/01/2020,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,1430.0,1495.0,NaN
1,01/01/2020,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,5647.0,5860.0,NaN
2,01/01/2020,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,14738.0,15345.0,NaN
3,01/01/2020,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,36674.0,38105.0,NaN
4,01/01/2020,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,80438.0,83347.0,NaN

In [81]:
df.drop(["Start Date"], inplace=True, axis=1)
df.head()

,End Date,Group,Year,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
0,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,1430.0,1495.0,NaN
1,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,5647.0,5860.0,NaN
2,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,14738.0,15345.0,NaN
3,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,36674.0,38105.0,NaN
4,10/15/2022,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,80438.0,83347.0,NaN

In [82]:
df.drop(["End Date"], inplace=True, axis=1)
df.head()

,Group,Year,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
0,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,1430.0,1495.0,NaN
1,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,5647.0,5860.0,NaN
2,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,14738.0,15345.0,NaN
3,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,36674.0,38105.0,NaN
4,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,80438.0,83347.0,NaN

In [83]:
df.drop(["Group"], inplace=True, axis=1)
df.head()

,Year,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
0,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,1430.0,1495.0,NaN
1,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,5647.0,5860.0,NaN
2,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,14738.0,15345.0,NaN
3,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,36674.0,38105.0,NaN
4,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,80438.0,83347.0,NaN

In [84]:
df.drop(["Year"], inplace=True, axis=1)
df.head()

,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
0,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,1430.0,1495.0,NaN
1,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,5647.0,5860.0,NaN
2,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,14738.0,15345.0,NaN
3,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,36674.0,38105.0,NaN
4,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,80438.0,83347.0,NaN

In [85]:
df.drop(["Month"], inplace=True, axis=1)
df.head()

,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
0,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,1430.0,1495.0,NaN
1,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,5647.0,5860.0,NaN
2,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,14738.0,15345.0,NaN
3,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,36674.0,38105.0,NaN
4,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,80438.0,83347.0,NaN

In [86]:
df.drop(["ICD10_codes"], inplace=True, axis=1)
df.head()

,State,Condition Group,Condition,Age Group,COVID-19 Deaths,Number of Mentions,Flag
0,United States,Respiratory diseases,Influenza and pneumonia,0-24,1430.0,1495.0,NaN
1,United States,Respiratory diseases,Influenza and pneumonia,25-34,5647.0,5860.0,NaN
2,United States,Respiratory diseases,Influenza and pneumonia,35-44,14738.0,15345.0,NaN
3,United States,Respiratory diseases,Influenza and pneumonia,45-54,36674.0,38105.0,NaN
4,United States,Respiratory diseases,Influenza and pneumonia,55-64,80438.0,83347.0,NaN

In [87]:
df.drop(["Number of Mentions"], inplace=True, axis=1)
df.head()

,State,Condition Group,Condition,Age Group,COVID-19 Deaths,Flag
0,United States,Respiratory diseases,Influenza and pneumonia,0-24,1430.0,NaN
1,United States,Respiratory diseases,Influenza and pneumonia,25-34,5647.0,NaN
2,United States,Respiratory diseases,Influenza and pneumonia,35-44,14738.0,NaN
3,United States,Respiratory diseases,Influenza and pneumonia,45-54,36674.0,NaN
4,United States,Respiratory diseases,Influenza and pneumonia,55-64,80438.0,NaN

In [88]:
df.drop(["Flag"], inplace=True, axis=1)
df.head()

,State,Condition Group,Condition,Age Group,COVID-19 Deaths
0,United States,Respiratory diseases,Influenza and pneumonia,0-24,1430.0
1,United States,Respiratory diseases,Influenza and pneumonia,25-34,5647.0
2,United States,Respiratory diseases,Influenza and pneumonia,35-44,14738.0
3,United States,Respiratory diseases,Influenza and pneumonia,45-54,36674.0
4,United States,Respiratory diseases,Influenza and pneumonia,55-64,80438.0

In [89]:
for col in df:
  print(df[col].unique())

['United States' 'Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California'
 'Colorado' 'Connecticut' 'Delaware' 'District of Columbia' 'Florida'
 'Georgia' 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas'
 'Kentucky' 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan'
 'Minnesota' 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada'
 'New Hampshire' 'New Jersey' 'New Mexico' 'New York' 'New York City'
 'North Carolina' 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania'
 'Rhode Island' 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah'
 'Vermont' 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming'
 'Puerto Rico']
['Respiratory diseases' 'Circulatory diseases' 'Sepsis'
 'Malignant neoplasms' 'Diabetes' 'Obesity' 'Alzheimer disease'
 'Vascular and unspecified dementia' 'Renal failure'
 'Intentional and unintentional injury, poisoning, and other adverse events'
 'All other conditions and causes (residual)' 'COVID-19']
['Influenza and pneumonia' 'Chronic lower respiratory diseases'
 'Adult respiratory distress syndrome' 'Respiratory failure'
 'Respiratory arrest' 'Other diseases of the respiratory system'
 'Hypertensive diseases' 'Ischemic heart disease' 'Cardiac arrest'
 'Cardiac arrhythmia' 'Heart failure' 'Cerebrovascular diseases'
 'Other diseases of the circulatory system' 'Sepsis' 'Malignant neoplasms'
 'Diabetes' 'Obesity' 'Alzheimer disease'
 'Vascular and unspecified dementia' 'Renal failure'
 'Intentional and unintentional injury, poisoning, and other adverse events'
 'All other conditions and causes (residual)' 'COVID-19']
['0-24' '25-34' '35-44' '45-54' '55-64' '65-74' '75-84' '85+' 'Not stated'
 'All Ages']
[ 1430.  5647. 14738. ...  8774.  4441.  6479.]

In [90]:
df.dtypes

State               object
Condition Group     object
Condition           object
Age Group           object
COVID-19 Deaths    float64
dtype: object

In [91]:
# Check for null
for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values")

Column State has 0 null values
Column Condition Group has 0 null values
Column Condition has 0 null values
Column Age Group has 0 null values
Column COVID-19 Deaths has 136761 null values

In [92]:
df = df.dropna()
df.head()

,State,Condition Group,Condition,Age Group,COVID-19 Deaths
0,United States,Respiratory diseases,Influenza and pneumonia,0-24,1430.0
1,United States,Respiratory diseases,Influenza and pneumonia,25-34,5647.0
2,United States,Respiratory diseases,Influenza and pneumonia,35-44,14738.0
3,United States,Respiratory diseases,Influenza and pneumonia,45-54,36674.0
4,United States,Respiratory diseases,Influenza and pneumonia,55-64,80438.0

In [93]:
# Check for null
for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values")
df.head()

Column State has 0 null values
Column Condition Group has 0 null values
Column Condition has 0 null values
Column Age Group has 0 null values
Column COVID-19 Deaths has 0 null values

,State,Condition Group,Condition,Age Group,COVID-19 Deaths
0,United States,Respiratory diseases,Influenza and pneumonia,0-24,1430.0
1,United States,Respiratory diseases,Influenza and pneumonia,25-34,5647.0
2,United States,Respiratory diseases,Influenza and pneumonia,35-44,14738.0
3,United States,Respiratory diseases,Influenza and pneumonia,45-54,36674.0
4,United States,Respiratory diseases,Influenza and pneumonia,55-64,80438.0

In [94]:
df = df[df.State != "United States"]
df.head()

,State,Condition Group,Condition,Age Group,COVID-19 Deaths
230,Alabama,Respiratory diseases,Influenza and pneumonia,0-24,18.0
231,Alabama,Respiratory diseases,Influenza and pneumonia,25-34,100.0
232,Alabama,Respiratory diseases,Influenza and pneumonia,35-44,228.0
233,Alabama,Respiratory diseases,Influenza and pneumonia,45-54,539.0
234,Alabama,Respiratory diseases,Influenza and pneumonia,55-64,1162.0

In [96]:
df.rename(columns={'Age Group': 'ageGroup'}, inplace=True)
df.head()

,State,Condition Group,Condition,ageGroup,COVID-19 Deaths
230,Alabama,Respiratory diseases,Influenza and pneumonia,0-24,18.0
231,Alabama,Respiratory diseases,Influenza and pneumonia,25-34,100.0
232,Alabama,Respiratory diseases,Influenza and pneumonia,35-44,228.0
233,Alabama,Respiratory diseases,Influenza and pneumonia,45-54,539.0
234,Alabama,Respiratory diseases,Influenza and pneumonia,55-64,1162.0

In [98]:
df = df[df.ageGroup != "Not stated"]

In [99]:
df = df[df.ageGroup != "All Ages"]

In [100]:
for col in df:
  print(df[col].unique())

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'New York City' 'North Carolina'
 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island'
 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont'
 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming'
 'Puerto Rico']
['Respiratory diseases' 'Circulatory diseases' 'Sepsis'
 'Malignant neoplasms' 'Diabetes' 'Obesity' 'Alzheimer disease'
 'Vascular and unspecified dementia' 'Renal failure'
 'Intentional and unintentional injury, poisoning, and other adverse events'
 'All other conditions and causes (residual)' 'COVID-19']
['Influenza and pneumonia' 'Chronic lower respiratory diseases'
 'Adult respiratory distress syndrome' 'Respiratory failure'
 'Respiratory arrest' 'Other diseases of the respiratory system'
 'Hypertensive diseases' 'Ischemic heart disease' 'Cardiac arrest'
 'Cardiac arrhythmia' 'Heart failure' 'Cerebrovascular diseases'
 'Other diseases of the circulatory system' 'Sepsis' 'Malignant neoplasms'
 'Diabetes' 'Obesity' 'Alzheimer disease'
 'Vascular and unspecified dementia' 'Renal failure'
 'Intentional and unintentional injury, poisoning, and other adverse events'
 'All other conditions and causes (residual)' 'COVID-19']
['0-24' '25-34' '35-44' '45-54' '55-64' '65-74' '75-84' '85+']
[  18.  100.  228. ... 1062. 1807. 2486.]

In [101]:
df.dtypes

State               object
Condition Group     object
Condition           object
ageGroup            object
COVID-19 Deaths    float64
dtype: object

In [103]:
def change_string(age):
    if age == "0-24":
        return 1
    elif age == "25-34":
        return 2
    elif age == "35-44":
        return 3
    elif age == "45-54":
        return 4
    elif age == "55-64":
        return 5
    elif age == "65-74":
        return 5
    elif age == "75-84":
        return 6
    elif age == "85+":
        return 7
    else:
        return 8
df["ageGroup"] = df["ageGroup"].apply(change_string)
df.head()

,State,Condition Group,Condition,ageGroup,COVID-19 Deaths
230,Alabama,Respiratory diseases,Influenza and pneumonia,1,18.0
231,Alabama,Respiratory diseases,Influenza and pneumonia,2,100.0
232,Alabama,Respiratory diseases,Influenza and pneumonia,3,228.0
233,Alabama,Respiratory diseases,Influenza and pneumonia,4,539.0
234,Alabama,Respiratory diseases,Influenza and pneumonia,5,1162.0

In [105]:
df = df.reset_index()
del df['index']
df.head()

,State,Condition Group,Condition,ageGroup,COVID-19 Deaths
0,Alabama,Respiratory diseases,Influenza and pneumonia,1,18.0
1,Alabama,Respiratory diseases,Influenza and pneumonia,2,100.0
2,Alabama,Respiratory diseases,Influenza and pneumonia,3,228.0
3,Alabama,Respiratory diseases,Influenza and pneumonia,4,539.0
4,Alabama,Respiratory diseases,Influenza and pneumonia,5,1162.0

In [107]:
df.to_csv('cleaned.csv')