In [1]:
import pandas as pd

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time

In [4]:
file_path = 'clean_covid_data.csv'
df_to_load = pd.read_csv(file_path)
df_to_load.head()

  Age_Group       Condition_Group                Condition  Deaths     Risk
0      0-24  Respiratory diseases  Influenza and pneumonia    1430     high
1     25-34  Respiratory diseases  Influenza and pneumonia    5647  highest
2     35-44  Respiratory diseases  Influenza and pneumonia   14738  highest
3     45-54  Respiratory diseases  Influenza and pneumonia   36674  highest
4     55-64  Respiratory diseases  Influenza and pneumonia   80438  highest

In [6]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/capstone_project_db"
    
engine = create_engine(db_string)
    
rows_imported = 0

start_time = time.time()
for data in pd.read_csv(file_path, chunksize=100000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='covid_data', con=engine, if_exists='replace')
    rows_imported += len(data)
    
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 100000...Done. 3.8818209171295166 total seconds elapsed
importing rows 100000 to 200000...Done. 8.132278442382812 total seconds elapsed
importing rows 200000 to 251543...Done. 10.634571075439453 total seconds elapsed

In [7]:
file_path_2 = 'death_state.csv'
df_to_load_2 = pd.read_csv(file_path_2)
df_to_load_2.head()

   Deaths          State
0    1430  United States
1    5647  United States
2   14738  United States
3   36674  United States
4   80438  United States

In [8]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/capstone_project_db"
    
engine = create_engine(db_string)
    
rows_imported = 0

start_time = time.time()
for data in pd.read_csv(file_path_2, chunksize=100000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='death_by_state', con=engine, if_exists='replace')
    rows_imported += len(data)
    
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 100000...Done. 2.285097122192383 total seconds elapsed
importing rows 100000 to 200000...Done. 4.63020133972168 total seconds elapsed
importing rows 200000 to 251543...Done. 6.165554523468018 total seconds elapsed